body {
  background-color: #181818;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  border: 1px solid #f3f3f3;
  padding: 50px 0;
  width: 500px;
  margin: auto;
}
input {
  width: 350px;
  height: fit-content;
  font-size: 2rem;
  border: 1px solid #dedede;
  background-color: #181818;
  border-radius: 15px;
  color: #f3f3f3;
  padding: 10px;
}
main {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  grid-template-rows: repeat(4, 50px);
}
.buttons button {
  font-size: 1.5rem;
  border-radius: 15px;
  border-style: none;
  margin: 5px;
  cursor: pointer;
  background-color: #f3f3f3;
}
.buttons button:hover {
  background-color: #dedede;
}
#equal {
  grid-row-start: 4;
  grid-column-start: 2;
  grid-row-end: 4;
  grid-column-end: 4;
}
.functions {
  display: grid;
  grid-template-columns: repeat(2, 80px);
}
.functions button {
  background-color: #d35400;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin: 5px;
  font-size: 1.5rem;
  color: #f3f3f3;
}
.functions button:hover {
  background-color: #963c00;
}
button {
  box-shadow: 2px 2px 2px #000000;
}
.logo h2 {
  color: #dedede;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 25vh;
  font-size: 0.8rem;
}
@media only screen and (max-width: 550px) {
  body {
    width: 90vw;
    height: 80vh;
    margin-top: 10px;
    padding: 10px 0;
    border: none;
  }
  input {
    width: 90%;
    height: 20vh;
    text-align: center;
  }
  .functions {
    grid-template-columns: 60px;
    height: 100%;
    text-align: center;
    align-items: center;
  }
  .functions button {
    font-size: 1.1rem;
    height: 90%;
    margin: 8px 5px;
  }
  main {
    text-align: center;
    align-items: center;
  }
  .logo h2 {
    color: #dedede;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 25vh;
    font-size: 0.8rem;
  }
}
